127.0.0.1 localhost localhost.ansible.localhost

{% for host in groups.all if host != 'localhost' %}
{% if hostvars[host].ansible_host is defined %}
{{ hostvars[host].ansible_host }} {{ host }} {{ host }}.ansible.localhost
{% endif %}
{% endfor %}
